@model ShardaMotorsWeb_App.Models.Users
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}
@Html.Partial("ProfileMenu")
<script src="~/Scripts/SweetAlert/jquery-1.10.2.js"></script>
<link href="~/Scripts/SweetAlert/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/SweetAlert/sweetalert.js"></script>
    @*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
<script type="text/javascript">
    @if (TempData["ChangePassword"] != null)
    {
        if (TempData["ChangePassword"].ToString() == "Password changed Successfully.")
        {
                    <text>
    $(window).load(function () {
        $("#myPasswordModal").hide();
        $(document).ready(function () {
            sweetAlert({ title: "Message", text: "@TempData["ChangePassword"]", type: "success" }, function () {
                window.location.href = "/SMHome/Index";
            });
        });
    });
    </text>
                    }
                }
</script>
<div class="modal fade" id="myPasswordModal" role="dialog" style="padding-left: -17px !important; z-index: 1050 !important;">
    <div class="modal-dialog">
        <div class="modal-content CustomModal">
            <div class="modal-header CustomHeader">               
                <button type="button" class="close" id="closePassword" data-dismiss="modal">&#10005;</button>
                <h4 class="modal-title">CHANGE YOUR PASSWORD</h4>
            </div>
            <div class="modal-body CustomBody">
                @using (Html.BeginForm("ChangePassword", "SMHome", FormMethod.Post, new { @id = "frmChangePassword" }))
                {
                    <div class="form-group">
                        <input id="oldPswd" hidden="hidden" value="@TempData["OldPassword"]">
                        <div class="input-group Password">
                            @Html.TextBoxFor(m => m.Password, new { @type = "password", @Name = "OldPassword", id = "OldPassword", placeholder = "Old Password", @class = "form-control LoginText", @required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group Password">
                            @Html.TextBoxFor(m => m.Password, new { @type = "password", @Name = "Password", id = "Password", placeholder = "New Password", @class = "form-control LoginText", @required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group Password">
                            @Html.TextBoxFor(m => m.Confirm_Password, new { @type = "password", @Name = "ConfirmPassword", id = "ConfirmPassword", placeholder = "Confirm Password", @class = "form-control LoginText", @required = "required" })
                        </div>
                    </div>
                    <button id="BtnChangePassword" type="submit" class="btn btn-Login btn-block">CHANGE PASSWORD</button>
                }
            </div>
            @*<div class="modal-footer Customfooter">
                    <p>
                        <a href="#" class="pull-right forgot" id="Forgot">CHANGE PASSWORD?</a>
                    </p>
                </div>*@
        </div>
    </div>
</div>
@section homeScripts{

    <script type="text/javascript">
        function refreshCheckboxValue(checkbox) {
            checkbox.value = checkbox.checked;
        }
    </script>
    <script>
        function myFunction1() {
            var x = document.getElementById("Password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
    @*@Html.Partial("_Error")*@

    <script type="text/javascript">
        $(document).ready(function () {
            $("#myPasswordModal").modal('show');
            var oldpsw = $("#oldPswd").val();
            $("#OldPassword").val(oldpsw);
        });
        //$("#btnLog").click(function () {
        //    window.location.href = '/FrontEnd/Index';
        //    $("#myModalReg").modal('hide');
        //    $("#myModal").modal('hide');
        //});
        $("#closeLogin").click(function () {
            window.location.href = 'Index';
            $("#myPasswordModal").modal('hide');
        });
        $("#closePassword").click(function () {            
            $("#myPasswordModal").modal('hide');
            window.location.href = 'Index';
        });
    </script>
    <script>
        $("#BtnPassword").click(function () {
            $("#myPasswordModal").modal('show');
        });
    </script>
}